@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');

nav.navbar.navbar-expand-lg.navbar-light{
    background-color: rgba(255, 255, 255, 0.712);
    border-left: 1px double white;
}

.navbar-toggler{
    background-color: white ;
}

.navbar{
    display: flex;
    position: relative;
    flex-direction: column;
}

div.container{
    margin: auto;
}

div#basic-navbar-nav.navbar-collapse.collapse{
    margin-left: 10px;
}

div.center.navbar-nav{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 20px;
}

a.navbar-brand{
    font-family: 'Vujahday Script', cursive;
    font-size: 26px;
    margin: auto;
    color: rgb(0, 0, 0) !important;
}

a.nav-link{
    font-size: 20px;
    color: rgb(0, 0, 0) !important;
    border-radius: 30px;
    margin-right: 5px;
    margin-right: 5px;

}
a.nav-link:hover{
    transition: 0.3s ease-in;
    background-color: rgba(184, 185, 185, 0.459);
}

img.logo{
    width: 50px;
    margin-right: 5px;
}
