
.main{
    background-color: white;
    display: flex;

}

.main .father_test{
    background-color: black;
    min-height: 97vh;
    margin: 5px;
    display: flex;
    width: 100%;
}


.main .father_test .son_test{
    margin: 40px;
    border: 5px solid white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main .father_test .son_test .test{
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.main .father_test .son_test .test .left,
.main .father_test .son_test .test .right {
    height: 100%;
    width: 300px;
    border: 5px solid white;
    color: white;
    display: flex;
    flex-direction: column;

}

 .title{
    height: 20%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;

}.title h2{
    font-size: 16px;
    margin: 0;
}

.cont{
    width: 100%;
    height: 80%;
}

 .cont .imgen{
    width: 80%;
    height: 70%;
    border: 1px solid white;
    margin: auto;
}
 .cont .btn{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .cont .btn button{
    border: 1px solid white;
    background: transparent;
    color: white;
    border-radius: 50px;
    width: 40%
}