@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body{
    background:#fafafa
}

.containerx{
    max-width: 700px;
    width: 100%;
    background: rgb(0, 0, 0);
    padding: 10px 30px;
    border-radius: 10px;
    color: azure;
    box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.containerx .tile{
    width: 100%;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerx form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 5px 0;
}

form .user-details .input-box{
    margin-bottom: 20px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box  input, select{
    height: 45px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #ccc ;
    text-align: center;
    font-size: 16px ;
    outline: none;
    border-bottom-width:2px ;
    transition: all 0.3s ease;
}

span {
    text-align: center;
}

.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
 
.user-details .input-box   input, select:valid{
    border-color: #000000;
}

.input-box-n{
    margin-bottom: 15px;
    width: 100%;
    transition: all 0.3s ease;
}

.input-box-n input {
    border-radius:20px;
    border: 1px solid #ccc;
    height: 45px;
    width: 100%;
    text-align: center;
    outline: none;
    font-size: 16px ;
    border-bottom-width:2px ;
    border-color: #000000;
    transition: all 0.5s ease;  
}

.con-boton {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con-boton button{
    width: 200px;
    height: 40px;
    font-size: 16px;
    border-radius: 20px;
    border-color:  #000000;
    color: #fafafa;
    background: #000000;
    border-radius: 50px;
    transition: .6s;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.con-boton button:hover{
    outline-width: 3px;
    box-shadow: 0 0 5px #03f47b,
    0 0 15px #03f47b,0 0 20px #03f47b,0 0 30px #03f47b;
}


@media (max-width: 600px){

    .containerx{
        max-width: 400px;
    }

    .containerx form .user-details {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    span{
        font-size: 13px;
    }

    .user-details .input-box  input, select{
        height: 40px;
        font-size: 13px ;
        text-align: center;
        transition: all 0.3s ease;
    }
    
    .input-box-n input {
        height: 40px;
        font-size: 13px ;
        text-align: center;
        transition: all 0.3s ease;
    }
}

