
div.log{
    height: 900px;
    background-image: url(../../../assets/img/pexels-david-bartus-963278.jpg);
}

div.big_square{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
}

div.medium_square{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

@media (min-width:1500px) {
    div.big_square{
        width: 100%;
        height: 700px;
        display: flex;
        align-items: center;
    }
}
